﻿@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<div class="col-lg-12">
    <div class="container">
        <div class="col-md-4">
            <fieldset>
                <legend>Agregar producto:</legend>
                <label for="Precio">Precio</label>
                <input id="Precio" class="form-control" />
                <label for="Marca">Marca</label>
                <input id="Marca" class="form-control" />
                <label for="Categoria">Categoria</label>
                <input id="Categoria" class="form-control" />
                <label for="Proveedor">Proveedor</label>
                <input id="Proveedor" class="form-control" />
                <br>
                <button id="save" class="btn btn-default">Guardar</button>
            </fieldset>

            <fieldset>
                <legend>Productos</legend>
                <table id="productos" class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Proveedor</th>
                    </tr>
                </table>
            </fieldset>

        </div>

    </div>
</div>
@Scripts.Render("~/bundles/producto_crud")


